.ccfwp-container{
    width: 80%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 30px;
}
.nav-tab-wrapper {
    margin-bottom: 20px;
}
.ccfwp-settings-form{
  margin-left: 12px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 22px;
  margin-bottom: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.ccfwp-wait-table{
  border: 2px solid #000;
  width: 100%;
  height: 100px;
}
.ccfwp-css-optimization-wrapper{
  
  margin: 30px 10px;
}
.ccfwp_cached_status_bar div{
 margin-top: 3px;
}
.ccfwp_progress_bar {
  background-color: rgb(192, 192, 192);
  width: 99%;
  border-radius: 4px;  
}
.cwvpb-display-none{
  display: none;
}
.ccfwp-advance-toggle{
  font-weight: 700;
  padding-top: 5px;
  cursor: pointer;
}
.cwvpb-global-selected{
  border-bottom: 1px solid #f1f1f1;  
  color: #000000;
  font-weight: 500;
  margin-bottom: -1px;
}
#cwvpb-global-tabs{
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}
#cwvpb-global-tabs a{
  cursor: pointer;
}
.ccfwp-advance-btn-div{
  padding-top:20px;
}
.ccfwp-table-class abbr{
    text-decoration:none;  
}      
.ccfwp-advance-urls-container{
  margin-top: 10px;
}
.ccfwp_progress_bar_body {    
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 0.4%;
  text-align: right;
  font-size: 20px;
  border-radius: 4px;
}      

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  bottom: 0px;
  bottom: 2px;
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 4px 0 rgb(0 0 0 / 8%);
}

input:checked + .slider {
  background: #d84315;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.cache-trash {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 6px;
    position: absolute;
}
.cache-trash::after,
.cache-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
 
.cache-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.cache-btn {
    margin-left: 30px;
    background: #007cba;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    min-width: 150px;
    font-weight: 600;
}
.cache-btn:hover {
  background: #2b2bff;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #0000ff61;
}

.ccfwp-images tr.child-opt, .ccfwp-images tr.subchild-opt , .ccfwp-images tr.child-opt-manual , .ccfwp-images tr.child-opt-bulk, .ccfwp-javascript tr.child-opt{
  position: relative!important;
  left: 25px!important;
}

.ccfwp-javascript .form-table th {
  width: 203px;
}

/* div#ccfwp-wrap h1 {
  width: 600px;
  height: 30px;
  margin: 50px auto;
  font-family: sans-serif;
} */


h2.nav-tab-wrapper.ccfwp-tabs a {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  outline: 0;
  padding: 0px 30px;
  font-size: 16px;
  color: #111;
  background: none;
  border: 0;
  font-family: sans-serif;
}
 
div#ccfwp-wrap select { 
  max-width: 320px;
  height:40px;
  color: #333;
  border: 1px solid #cccccc;
  padding-right: 25px;
}

div#ccfwp-wrap table.form-table {
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 20%);
  position: relative;
  top: -7px;
  max-width: 1000px;
  border-radius: 15px 15px 15px 15px;
  padding: 25px 0px 100px 0px;
  display: block;
}

div#ccfwp-wrap .nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
  border-bottom: 0px solid #c3c4c7;
  margin: 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  max-width: 1190px;
  /* padding-left: 25px; */
  position: relative;
  z-index: 999;
  text-align: center;
}
div#ccfwp-wrap .form-table th {
  vertical-align: top;
  width: 200px;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  font-weight: normal;
  padding: 20px 0px 0px 50px;
  font-family: sans-serif;
}
 
#ccfwp-wrap p.description {
    color: #555;
    font-size: 12px;
}

.toplevel_page_ccfwp div#wpcontent {
  background-image: url(./images/cwv-main-bg.png);
  background-size: 50%;
  background-color: #f9f9f9;
}

div#ccfwp-wrap .form-table th:hover , h2.nav-tab-wrapper.ccfwp-tabs a:hover{
  color: #d84214;
}

label.switch {
  outline: 0;
  display: block;
  width: 52px;
  height: 22px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
  user-select: none;
}
div#ccfwp-wrap {
    width: 100%;
}
div#left-sidebar {
    width: 70%;
    float: left;
}
div#right-sidebar {
    float: right;
    width: 28%;
    margin-top: 40px;
}
.boxsidebar {
  background: #fff;
  border-radius: 25px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 0px 20px;
}

.boxsidebar-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.boxsidebar-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
section .bio{
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  border-radius: 5px;
  
  line-height: 22.5px;
  padding: 10px;
  font-style: italic;
  text-align:center;
}
.bio-wrap{
  float:left;
  margin: 4px;
  text-align: center;
}
.bio-wrap img{
  border-radius: 50%;
}
h2.vision {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}

.bio-wrap p {
  width: 66px;
  margin-top: 5px;
}
th:empty {
    display: none;
}
.ccfwp-hide{
  display:none;
}
.ccfwp_hide{
  display:none;
}
.ccfwp-section-tab{
  margin: 30px 10px;
}